<nav role='navigation'>
  <dropdown>
    <input id='toggle2' type='checkbox'>
    <label for='toggle2'>
      Menu
      <span></span>
    </label>
    <ul>
      <li>
        <a class='work' href='#work'>Work</a>
      </li>
      <li>
        <a class='social' href='#social'>Social</a>
      </li>
      <li>
        <a class='things' href='#things'>Things</a>
      </li>
      <li>
        <a class='resume' href='http://kierangraham.com/resume.pdf'>Resume</a>
      </li>
      <li>
        <a class='contact' href='mailto:me@kierangraham.com'>Email</a>
      </li>
    </ul>
  </dropdown>
</nav>
