<!DOCTYPE html>
<html dir='ltr' lang='en-US'>
  {% include head.html %}

  <body>
    <audio class='click'>
      <source src='/img/thisisnotanimagelol.wav'>
    </audio>

    {% include header.html %}

    <section role='main'>

      <div class="container content">
        {{content}}
      </div>

      <hr>
    </section>


    <footer role='contentinfo'>
      <div class='container'>
        <p>
          © 2016 Kieran Graham —
          <a href='http://github.com/kierangraham/kierangraham.github.io' target='_blank'>Source</a>,
          Design based on work of <a href='https://github.com/michieldegraaf/michieldegraaf' target='_blank'>Michiel de Graaf</a>
        </p>
      </div>
    </footer>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-74473117-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
